<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">
					

							<header>
								<h2 class="alt">Seja muito bem-vindo à <strong>Minion Store!</strong></h2>
								<p>Aqui você pode escolher e reservar<br />
								os <strong>iteminions</strong> que mais gostar.</p>
							</header>

							<footer>
								<a href="#produtos" class="button scrolly">Produtos</a>
							</footer>

						</div>
					</section>



				<!-- produtos -->
					<section id="produtos" class="two">
						<div class="container">

							<header>
								<h2>Nossos Produtos</h2>
							</header>

							<p>Nossos produtos possuem a melhor qualidade do mercado!<br />
							Escolha todos que puder e entregamo diretamente na sua residência! <br />
							<strong>Reserve já</strong>.</p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic02.jpg" %> alt=""></a>
										
										<header>
											<h2>Bob Falante</h2><br />
											<h3>Possui uma pele lisa e macia, reage a movimentos em sua cabeça e vem com um acessório extra!<br />Preço: olho da cara</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic03.jpg" %> alt="" /></a>
										<header>
											<h2>Minion Tim</h2> <br /><h3>O minion com dois olhos que emite sons presentes no filme Meu Malvado Favorito 3<br /> Preço: hoje ta de graça</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic04.jpg" %> alt="" /></a>
										<header>
											<h2>Minion Dave</h2><br />
												</h3>Aperte sua cabeça para ouví-lo falar! Possui 15 falas diferentes!<br /> Preço: olho da cara<h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic05.jpg" %> alt="" /></a>
										<header>
											<h2> Minions Havaianos</h2> <br /> <h3>Diretamente do Hawaii para a sua casa, esses minions fofinhos de algodão são capazes de cantar canções divertidas para toda a família<br /> Preço: dois fardos de breja</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic06.jpg" %> alt="" /></a>
										<header>
											<h2>Minion vampiro</h2><br /> <h3>O minion mais legal apesar de matar seu filho a noite.<br /> Preço: um rim</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic07.jpg" %> alt="" /></a>
										<header>
											<h2>Minion Action Figures</h2><br /> <h3>Seus super-heróis mais fofos chegaram para decorar a casa e deixar o ambiente mais divertido. <br /> Preço: um minion</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>


					<!-- Contato-->
					<section id="formulario" class="four">
						<div class="container">

							<header>
								<h2>Formulário de Compra</h2>
							</header>

								<p>No espaço abaixo, insira seus dados para que possamos envair o mais rápido possível o brinquedo que você deseja reservar!</p>
								
							<form method="post" action="#">
								<div class="row">
									<div class="col-6 col-12-mobile"><input type="text" name="name" placeholder="Seu Nome" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="email" placeholder="Seu e-mail" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="end" placeholder="Rua" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="end" placeholder="Número" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="end" placeholder="Bairro" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="end" placeholder="Cidade" /></div>
									<div class="col-6 col-12-mobile"><input type="text" name="end" placeholder="Estado" /></div>
									<div class="col-12">
										<textarea name="message" placeholder="Ex.: 2 Minion Tim, 1 Bob Falante"></textarea>
									</div>
									<div class="col-12">
										<input type="submit" value="Reservar!" />
									</div>
								</div>
							</form>

						</div>
					</section>
