<div id="main">

				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Seja muito bem-vindo à <strong>Minion Store!</strong></h2>
								<p>Aqui você pode escolher e reservar<br />
								os <strong>iteminions</strong> que mais gostar.</p>
							</header>

							<footer>
								<a href="#produtos" class="button scrolly">Produtos</a>
							</footer>

						</div>
					</section>



				<!-- produtos -->
					<section id="produtos" class="two">
						<div class="container">

							<header>
								<h2>Nossos Produtos</h2>
							</header>

							<p>Nossos produtos possuem a melhor qualidade do mercado!<br />
							Escolha todos que puder e entregamo diretamente na sua residência! <br />
							<strong>Reserve já</strong>.</p>

							<div class="row">
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic03.jpg" %> alt=""></a>
										
										<header>
											<h3>Ipsum Feugiat</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic03.jpg" %> alt="" /></a>
										<header>
											<h3>Rhoncus Semper</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic03.jpg" %> alt="" /></a>
										<header>
											<h3>Magna Nullam</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic03.jpg" %> alt="" /></a>
										<header>
											<h3>Natoque Vitae</h3>
										</header>
									</article>
								</div>
								<div class="col-4 col-12-mobile">
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic03.jpg" %> alt="" /></a>
										<header>
											<h3>Dolor Penatibus</h3>
										</header>
									</article>
									<article class="item">
										<a href="#" class="image fit"><img src=<%= asset_path "pic03.jpg" %> alt="" /></a>
										<header>
											<h3>Orci Convallis</h3>
										</header>
									</article>
								</div>
							</div>

						</div>
					</section>